/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
body{
    background-color: #b91350;
}

.container{
   width: 80%; 
   margin: 3rem auto;
   border: 1px solid black;
   /* border-radius: 50px; */
   background-color: white;
}

.pt-3{
    padding-top:3rem;
}

.pt-2{
    padding-top:2rem;
}

.ms-3{
    margin-left:5rem ;
}

.tx-center{
    text-align: center;
    text-transform: uppercase;
}

.flex{
    display: flex;
}

.container-due,
.container-tre,
.container-quattro,
.container-cinque{
    margin: 0 2rem;
    flex-direction: column;
}

h5{
    margin-top: 2rem;
    font-size: 1.5rem;
}
.container-uno{
    flex-direction: column;
    background-color: #808080;
}

.container-due{
    flex-direction: column;
}



